<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cloudcamp - it worked!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <style>
        html,
        body,
        #main {
            font-family: 'Inter', sans-serif;
            width: 100%;
            height: 100%;
            padding: 0px;
            margin: 0px;
        }

        a,
        a:visited {
            font-size: 16px;
            color: #525252;
            text-decoration: none;
        }

        #main {
            display: flex;
            flex-direction: column;
        }

        #header {
            height: 60px;
            border-bottom: 2px solid #F3F3F3;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 40px;
            margin-left: 40px;
            margin-right: 40px;
        }

        #content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h2 {
            color: #525252;
            font-weight: 400;
            margin-top: 0px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    @RenderBody()
</body>

</html>
